{
  "document": {
    "block_prefix": "\n",
    "block_suffix": "\n",
    "color": "{{.Fg}}",
    "margin": 2
  },
  "block_quote": {
    "indent": 1,
    "indent_token": "│ "
  },
  "paragraph": {},
  "list": {
    "level_indent": 2
  },
  "heading": {
    "block_suffix": "\n",
    "color": "{{.Accent}}",
    "bold": true
  },
  "h1": {
    "prefix": "",
    "suffix": "",
    "color": "{{.Accent}}",
    "bold": true
  },
  "h2": {
    "prefix": "",
    "color": "{{.Accent}}",
    "bold": true
  },
  "h3": {
    "prefix": "",
    "color": "{{.Accent}}",
    "bold": true
  },
  "h4": {
    "prefix": "",
    "color": "{{.Accent}}"
  },
  "h5": {
    "prefix": "",
    "color": "{{.Accent}}"
  },
  "h6": {
    "prefix": "",
    "color": "{{.Accent}}"
  },
  "text": {},
  "strikethrough": {
    "crossed_out": true
  },
  "emph": {
    "italic": true
  },
  "strong": {
    "bold": true
  },
  "hr": {
    "color": "{{.Border}}",
    "format": "\n────────\n"
  },
  "item": {
    "block_prefix": "• "
  },
  "enumeration": {
    "block_prefix": ". "
  },
  "task": {
    "ticked": "[✓] ",
    "unticked": "[ ] "
  },
  "link": {
    "color": "{{.Accent}}",
    "underline": true
  },
  "link_text": {
    "color": "{{.Accent}}",
    "bold": true
  },
  "image": {
    "color": "{{.Accent}}",
    "underline": true
  },
  "image_text": {
    "color": "{{.Dim}}",
    "format": "Image: {{"{{"}}.text{{"}}"}} →"
  },
  "code": {
    "color": "{{.Gold}}"
  },
  "code_block": {
    "color": "{{.Fg}}",
    "margin": 2
  },
  "table": {},
  "definition_list": {},
  "definition_term": {},
  "definition_description": {
    "block_prefix": "\n🠶 "
  },
  "html_block": {},
  "html_span": {}
}
